@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1500px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}
.container .left{
    position: relative;
    background: #003147;
    padding: 40px;
}
.profile{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.profile .imgBox{
    position: relative;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    overflow: hidden;
}
.profile .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.profile h2 span{
    font-size: 0.8em;
    font-weight: 300;
}
.contactInfo{
    padding-top: 30px;
}
.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactInfo ul{
    position: relative;
}
.contactInfo ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}
.contactInfo ul li .text{
    color: #e0e0e0;
    font-weight: 300;
}
.contactInfo_education h3{
    padding-top: 20px;
}
.contactInfo_education ul li{
    list-style: none;
    margin-bottom: 15px;
}
.contactInfo_education h5{
    color: #03a9f4;
    font-weight: 500;
    margin-bottom: 10px;
}
.contactInfo_education h4{
    color: #e0e0e0;
    font-weight: 500;
    margin-bottom: 10px;
}
.contactInfo_education h4:nth-child(2){
    color:#e0e0e0;
    font-weight: 200;
    margin-bottom: 10px;
}
.contactInfo_language h3{
    padding-top: 20px;
}
.contactInfo_language ul li{
    list-style: none;
}
.contactInfo_language .text{
    color: #e0e0e0;
}
.contactInfo_language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}   
.contactInfo_language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.contactInfo_Skills h3{
    padding-top: 20px;
}
.contactInfo_Skills ul li{
    list-style: none;
}
.contactInfo_Skills .text{
    color: #e0e0e0;
    font-weight: 300;
}
.contactInfo_Skills .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}   
.contactInfo_Skills .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
.Interests h3{
    padding-top: 20px;
}
.Interests ul{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.Interests ul li{
    list-style: none;
    color: #f0f0f0;
    font-weight: 300;
    margin: 10px 0;
}
.Interests ul li i{
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
    margin-right: 10px;
}
.container .right{
    position: relative;
    background: #fff;
    padding: 20px 40px 40px;
}
.about{
    margin-bottom: 30px;
}
.about:last-child{
    margin-bottom: 0;
}
.title2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px 0;
}
p{
    color: #333;
}
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.about .box .year_company{
    min-width: 150px;
}
.about .box .year_company h5{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
    margin-bottom: 5px;
}
.about .box .text h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}
.about .box .text h5{
    margin-top: 10px;
    font-weight: 600;
    color: #848c90;
    line-height: 1.5;
}
.about h3{
    margin-top: 30px;
}
.about .text2 h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
    margin-top: 20px;
}
.about .text2 h5{
    margin-top: 10px;
    font-weight: 600;
    color: #848c90;
    line-height: 1.5;
}
@media (max-width:1000px){
    .container{
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
    .Interests ul{
        grid-template-columns: repeat(4,1fr);
    }
}
@media (min-width:750px){
    .about .box .year_company {
        min-width: 227px;
    }
    .about .box .text h4{
        width: 229px;
    }
}
@media (max-width:600px){
    .about .box{
        flex-direction: column;
    }
    .about .box .year_company{
        margin-bottom: 5px;
    }
    .about .box .year_company h5{
        width: 128px;
    }
    .Interests ul{
        grid-template-columns: repeat(1,1fr);
    }
    .skills .box{
        grid-template-columns: repeat(1,1fr);
    }
}