.w {
    width: 1200px;
    margin: 0 auto;
}
header {
    height: 84px;
    border-bottom: 2px solid #c81523;
}
.logo {
    padding-top: 18px;
}
.register {
    height: 522px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.register h3 {
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 800;
}
.login {
    float: right;
    font-size: 14px;
}
.login a {
    color: #c81523;
}
.reg_form {
    width: 600px;
    margin: 50px auto 0;
}
.reg_form ul li {
    margin-bottom: 20px;
}
.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg_form ul li .inp {
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
    margin-left: 5px;
}
.error {
    color: #c81523;
}
/* 简化代码 */
.error_icon,
.correct_icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;height: 20px;
    background: url(../img/error.png) no-repeat;
    margin-top: -2px;
}
.correct {
    color: green;
}
.correct_icon {
    background: url(../img/correct.png) no-repeat;
}
.security {
    padding-left: 160px;
}
.security em {
    padding: 0 12px;
    color: #fff;
}
.weak {
background-color: #de1111;
}
.middle {
    background-color: #40b83f;
}
.strong {
    background-color: #f79100;
}
.agreement {
    padding-left: 110px;
}
.agreement input {
    vertical-align: middle;
}
.agreement a {
    color: #1ba1e6;
}
.button {
    width: 200px;
    height: 34px;
    background-color: #c81523;
    font-size: 14px;
    color: #fff;
    margin: 30px 0 0 115px;
}
.mod_copyright {
    text-align: center;
    padding-top: 20px;
}
.links {
    margin-bottom: 15px;
}
.links a {
    margin: 0 3px;
}
.copyright {
    line-height: 20px;
}